<app-menu></app-menu>

<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registro"><i class="fas fa-user-plus"></i> Crear Cuenta</a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <form #f="ngForm" novalidate (ngSubmit)="onLogin()">
                <div class="form-group">
                    <label for="nombreUsuario">Nombre de usuario/Email</label>
                    <input type="text" class="form-control" name="nombreUsuario" id="nombreUsuario" autocomplete="off"
                        required [(ngModel)]="nombreUsuario">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" name="password" id="password" required
                        [(ngModel)]="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-success btn-block" type="submit" [disabled]="!f.valid">
                        <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>